<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои адреса</title>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css"
          rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style="background: linen; padding-top: 10px; padding-left: 50px; padding-right: 10px";>

<div class="container">
    <h2> Мои адреса </h2>

    <table class="table table-border table-striped">
        <thead>
        <tr>
            <th>Адрес</th>
            <th>Комментарий к адресу</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${allAddress}">
            <url var="updateButton" value="/updateAddress">
                <param name="addressId" value="${address.id}"/>
            </url>

            <url var="deleteButton" value="/deleteAddress">
                <param name="addressId" value="${address.id}"/>
            </url>

            <td th:text="${address.addressName}"></td>
            <td th:text="${address.addressComment}"></td>
            <td>
                <a th:href="@{/updateAddress(addressId=${address.id})}" class="btn btn-light"> Обновить</a>
                <a th:href="@{/deleteAddress(addressId=${address.id})}" class="btn btn-warning">Удалить</a>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/addAddress}" class="btn btn-light">Добавить</a>

    <a th:href="@{/}" style="position: fixed; left:200px; bottom: 40px;">Вернуться</a>


</div>

</body>
</html>