<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>E-Store</title>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link th:href="@{/main-page.css}" rel="stylesheet" type="text/css">
</head>
<body>

<table>
    <thead >
    <th class="catalog"> <a href="catalog"> Ассортимент </a></th>
    <th class="columns"> Доставка</th>
    <th class="columns"><a href="/profile">Профиль</a></th>
    <th class="columns" sec:authorize="isAuthenticated()"><a th:href="@{/cart}">Корзина </a></th>
    <th class="columns" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a
            href="admin">Администрирование</a></th>
    </thead>
</table>

<h1> E-Store </h1>

<p><a img src="pictures/first.jpg" width="200" height="300"> </a> </p>

    <table class="contacts">
        <th> О нас</th>
        <th> Связаться с нами</th>
    </table>
</body>
</html>